.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, rgba(11, 7, 68, 1) 0%, rgba(12, 12, 162, 1) 35%, rgba(17, 12, 103, 1) 69%);


    &__logo {
        font-size: 1.5rem;
        font-weight: bold;

        &_text {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }

    &__menu {
        display: flex;
        list-style: none;


        li {
            margin-right: 1rem;



        }

        &_item {
            text-decoration: none;
            color: #fff;
        }
    }

    &__menu-icon {
        display: none;
        font-size: 2rem;

        @media (max-width: 768px) {
            display: block;
        }
    }
}